# Python Virtual Environment
venv/
.venv/
env/
.env


# Database and Session files
db/
*.db
*.db-*
*.session
*.db.bak
# Python Cache
__pycache__/
*.pyc
node_modules/

# Logs
*.log
STOP_BOT
MANUAL_TRADE
.env
venv